* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #E6FFFD;
}

#wishTreeTitle{
    font-size: x-large;
}

.container-fluid {
    text-align: center;
    background-color: #99dbff;
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 20px;

}

#returnButton{
    float: right;
    background-color: #93a8ff;
    border: none;
    color: black;
}

/* Preview Image */
#imgPreview{
    float: left;
    background-color: #AEE2FF;
    padding: 20px;
    width: 40%;
    height: 70%;
    border-radius: 5px;

    margin-top: 10%;
    margin-left: 4%;
}

#entryFileInput{
    background-color: #AEE2FF;
    
    width: 30%;
    margin-top: 5%;
    margin-left: -40%;

}

/* Box underneath Inputs */
#createEntryForm{
    float: right;
    background-color: #AEE2FF;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    width: 40%;
    height: 70%;
    
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-top: 0%;
    margin-right: 10%;
    
}

/* . refers to the entryForm class in create.html 
Box for everything in wrapper class */
.wrapper{ 
    width: 490px;
    background: #fff;
    border-radius: 10px;
    padding: 18px 25px 20px;
    text-align: center;

    width: 100%;
    
}

.wrapper :where(.title, li, li i, .details){
    display: flex;
    align-items: center;
}

/* "Add Tags" text 
.wrapper .title h2{
    font-size: 21px;
    font-weight: 600;
}*/

.wrapper .content{
    margin: 10px 0;
}

/* "Add tags here" text 
.content p{
    font-size: 15px;
    text-align: left;
}*/

/* box around tags */
.content u1{
    display: flex;
    flex-wrap: wrap; /* Fixes: When inputing 4 tags or more, the tags aren't stacked on top of one another. It continues horizontally. */
    padding: 5px;
    border-radius: 5px;
    margin: 12px 0;
    border: 1px solid #AEE2FF;
}

/* box around tags (html, css) */
.content u1 li{
    list-style: none;
    margin: 4px 3px;
    border-radius: 5px;
    background: #f2f2f2;
    padding: 5px 8px 5px 10px;
    border: 1px solid #f2f2f2
}

/* x button on tags 7:37*/
.content u1 li i{
    height: 20px;
    width: 20px;
    cursor: pointer; /* when hovering over x on tags, cursor becomes a pointer */
    color: #aa6b6b;
    font-size: 12px;
    margin-left:8px;
    border-radius: 50%;
    background: #dfdfdf;
    justify-content: center;
    
}
/* supposed to make the input box disappear 8:23 */
#inputTag{
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    float: left;
    width: 100%;
}

/* "Remove all" button right-aligned */
.wrapper .details{
    justify-content: space-between;
}

/* Remove all button 9:17 */
.details button{
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: 14px;
    padding: 9px 15px;
    border-radius: 5px;
    background: #93a8ff;
}

/* Submit button */
#enter{
    margin-top: 20px;
    background-color: #93a8ff;
    color: black;
    border: none;
}