* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #E6FFFD;
}


/* Top of the page, header */
.container-fluid {
    text-align: center;
    background-color: #B799FF;
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 20px;

}

.entryForm{
    text-align: center;
    padding: 100px;
    float: center;
}

/* username, password, and sign in box */
.userAndPasswordBox{
    width: 500px;
    height: 300px;
    background: #AEE2FF;
    border-radius: 10px;
    padding: 18px 100px 300px 100px;
    float: center;
    position: absolute;
    top: 20%;
    
}

#usernameWord{
    float: left;
    color: black;
    text-align: center;
    font-size: 23px;
    padding-top: 20px;
}

#passwordWord{
    float: left;
    color:black;
    text-align: center;
    font-size: 23px;
    padding-top: 25px;
}


#signInButton{
    margin-top: 30px;
    background-color: #93a8ff;
    color: black;
    border: none;
    float: right;
}
