* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#createButton{
    text-align: left;
}

#sortButton{
    text-align: right;
}
body {
    background-color: #E6FFFD;
    text-align: center;
}

#container-fluid {
    text-align: center;
}

#searchContainer {
    padding: 30px;
}

