* { /* CSS Universal Selector - Selects HTML elements on the page */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wishTreeTitle{
    font-size: x-large;
}

#logOutButton{
    background-color:#93a8ff;
    border: none;
    color: black;
}

#createButton{
    float: left;
    text-align: center;
    margin-top: 15px;
    background-color: #93a8ff;
    color:black;
    border: none;
}

#sortButton{
    float: right;
    text-align: center;
    margin-top: 15px;
    background-color: #93a8ff;
    color:black;
    border: none;
}

#searchBar{
    display: block;
    text-align: left;
    margin-top: 40px;
}

#searchSubmitButton{
    float: right;
    padding: 6px;
    margin-top: -38px;
    background: #93a8ff;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

body {
    background-color: #E6FFFD;
    /*text-align: center;*/
}

/* Top of the page, header */
.container-fluid {
    text-align: center;
    background-color: #B799FF;
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 20px;

}

#searchContainer {
    padding: 30px;
}

/* Entries */
.card{
    background-color: #AEE2FF;
    padding: 0px;
    margin-top: 10px;
    max-width: 33.33%;
    /* max-width: 18rem; */
    text-align: left;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.card-title{
    margin-top: 20px;
    font-size: x-large;
}

.card-text{
    display: wrap;
    flex-wrap: wrap;

}

#entryDeleteButton{
    background-color: #93a8ff;
    color:black;
    border: none;
    float: right;
}

#total{
    font-size:x-large;
    text-align: left;
    margin-left: 30px;

    /* Positions total: relative to the footer */
    clear: both;
    position: relative;
    height: 40px;
    top: 9px;
    
}

.footer{ 
    /* Positions footer relative to the entries... */
    clear: both;
    position: relative;
    height: 50px;

    text-align: left;
    background-color: #B799FF;
    
}