* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #B799FF;
    text-align: center;
}

#container-fluid {
    text-align: center;
}

/* . refers to the entryForm class in create.html */
.entryForm{ 
    color: #000000;
    
}

.u1{
    display: flex;
    padding: 7px;
    border: 1px solid #AEE2FF;
}